body{
font-family:Arial;
text-align:center;
background:#f4f6fb;
}

h1{
color:#0a3d91;
}

.tag{
color:#555;
}

/* Seat container */

.seat-container{
width:500px;
margin:auto;
margin-top:20px;
}

/* Row design */

.row{
margin:10px;
}

/* Seat button */

.seat{
width:45px;
height:45px;
margin:5px;
border:none;
border-radius:6px;
color:white;
cursor:pointer;
font-weight:bold;
background:green;
}

/* Booked seat */

.seat.booked{
background:red;
}

/* Hover effect */

.seat:hover{
transform:scale(1.1);
}
