body{
font-family:Arial;
text-align:center;
background:#f4f6fb;
}

h1{
color:#0a3d91;
}

.tag{
color:#555;
}

#seats{
width:420px;
margin:auto;
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.seat{
width:45px;
height:45px;
margin:5px;
border:none;
border-radius:5px;
color:white;
cursor:pointer;
}

.available{
background:green;
}

.reserved{
background:red;
}
